# Archivos temporales y de compilación de MPLAB X
build/
dist/
nbproject/private/
disassembly/
debug/

# Archivos de sesión y usuario
*.o
*.d
*.p1
*.hex
*.elf
*.cof
*.mch
*.lst
*.rlf
*.sym
*.sdb
*.hce

# Logs e índices de MPLAB
.generated_files/
mplab.log